* {
    border: none;
    border-radius: 0;
    font-family: "Ubuntu";
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: #000;
    color: white;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-top: 2px solid transparent;
}

#workspaces button.focused {
    color: #c9545d;
    border-top: 2px solid #c9545d;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode, #temperature, #power-profiles-daemon, #idle_inhibitor {
    padding: 0 4px;
    margin: 0 0px;
    border-radius: 4px;
}

#clock {
    font-weight: bold;
}

#battery icon {
    color: red;
}
#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network {
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
}

#pulseaudio.muted {
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
    background: white;
    color: black;
}

#tray {
}

